##### Vitis 
.metadata/
RemoteSystemsTempFiles/
Debug/
_ide/
export/
.log/
logs/
microblaze\_0/
control_microblaze_0
MB\_controller/
resources/
MB\_controller

.cproject
.project
.analytics

*.sprj
*.spr
*.log
*.str

# ###### vivado
# #root
# *_ex/
# questa\_compiled/
# waveforms/
# drivers/
# ip\_repo/
# *.jou


# #inside folder
# .Xil/
# *.cache
# *.hw
# *.ip\_user\_files/
# *.runs
# *.sim
# *.tmp
# *.xpr
# *.xsa

# #within .src
# ip/
# ipshared/
# sim/
# synth/
# ui/
# *.xdc
# *.bmm
# *.bxml

###### builds
\_shared\_files/silesia/
gen\_data/
xclbin_build

.ipcache/
.Xil/
__pycache__/

host

*.pdf
*.csv
*.log
*.png
*.env